.MainGrid{
    display: grid;

    grid-template-areas: "firstColumn secondColumn";
    grid-template-columns: 614px 293px;

    grid-gap: 50px;

    max-width: 957px;
    margin: 80px auto;
    
}

.box{
    background: var(--background);
    border:1px solid var(--border);
}


.suggestionBox{
    position: fixed;
    flex: 1;
    max-width: 293px;
}